.navbar {
	top: 0;
	left: 0;
	position: sticky;
	width: 100%;
	min-height: 2.25rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--secondary-highlight);
	padding: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	gap: 2rem;
	& > span:first-child {
		font-weight: bold;
	}
}
