@use "sass:math";
@use "sass:list";

.vowels {
	display: inline-grid;
	height: 21rem;
	grid-template-columns: repeat(3, calc(28rem / 3)) 10rem;
	grid-template-rows: 3.25rem [labels-start] 2rem repeat(6, 1fr 2rem) [labels-end];
}

.title {
	grid-row: 1;
	grid-column: 4;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	& > span {
		font-size: 2rem;
	}
}

.toplabel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 0.25rem;
	font-size: 1.25rem;
}

@for $i from 0 through 2 {
	#toplabel-#{$i} {
		grid-column: #{($i + 1)};
		@if $i == 0 {
			padding-right: 1.5rem;
		}
		@if $i == 2 {
			padding-left: 1.5rem;
		}
	}
}

.sidelabel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

@for $i from 0 through 6 {
	#sidelabel-#{$i} {
		grid-row: #{($i * 2) + 2};
	}
}

.grid {
	display: grid;
	grid-row: labels-start / labels-end;
	grid-column: 1 / 4;
	height: 17.75rem;
	grid-template-rows:
		[el-top row-start] 1rem [lines-top] 1rem [row-end] repeat(
			5,
			1fr [row-start] 2rem [row-end]
		)
		1fr [row-start] 1rem [lines-bottom] 1rem [el-bottom row-end];
	grid-template-columns: [el-left] 1rem [lines-left] auto [lines-right] 1rem [el-right];
	& > .lines {
		grid-row: lines-top / lines-bottom;
		grid-column: lines-left / lines-right;
		height: 100%;
		width: calc(21rem + 2rem + 0.5rem + 2rem + 0.5rem);
	}
}
